* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn{
    color: white;
    border: 3px solid black;
    box-shadow: 5px 5px;
    padding: 3px 10px;
}
